.editable-label input[type=text] {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid var(--editable-label-background-color);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: var(--editable-label-background-color);
}