.tab-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--tab-button-border-color);
}

.tab-button:hover {
    border: 1px solid var(--button-hover-color);
}