.tab-panel {
    min-height: 800px;
    min-width: 800px;
}

.pane-header {
    display: flex;
    flex-direction: row;
    max-width: 800px; /* store the max width in a variable instead */
    margin-right: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}

.pane-header button {
    border: 1px solid rgba(36, 36, 36, 0);
    border-radius: 10% 10% 0 0;
    color: white;
    background-color: #242424;
}